.graphCard{
    background-color: white;
    width: 100%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

.graphCardTitle{
    font-size: 14px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.leftCard{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.notificationCard{
    height: auto;
    max-height: 500px;
    overflow: auto;
}

.notificationList{
    display: flex;
    flex-direction: column;
}

.notification{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 0.5em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--primary-dashboard-color);
}

.notificationIcon{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    margin-right: 10px;
}

.notificationText{
    font-size: 14px;
    font-weight: bold;
}

.notificationSubtext{
    font-size: 12px;
    font-weight: lighter;
}

.cardValue{
    font-size: 36px;
    color: var(--primary-dashboard-color);
    font-weight: bold;
}

.cardSubtext{
    font-size: 16px;
    color: #837C8B;
    font-weight: bold;
}

#income{
    background-color: #F0FFFE;
}

#plots{
    background-color: #FFF0F0;
}

#bookings{
    background-color: #F0FFF6;
}